# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\222\JavaCode\HelloWord\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
